<%- include("partials/normal") %>
<%- include("./partials/sidenav/sidenav") %>
<div class="page-contents ">
    <div class="container-fluid ">
        <section class="container highlight" id="highlight">
            <h3 class="heading">Our <span>Specialty</span></h3>
            <div class="box-container">
                <div class="box">
                    <img class="image" src="https://img.freepik.com/free-vector/vector-fast-food-set-realistic-hamburger-classic-burger-potatoes-french-fries-red-package-box-blank-cardboard-cup-soft-drinks-with-straw-isolated-colorful-blur-background_1284-47912.jpg?size=338&ext=jpg&uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                    <div class="content">
                        <img src="https://cdn-icons-png.flaticon.com/128/1255/1255229.png?uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                        <h3>tasty burger</h3>
                        <p>Lorem ipsum dolor sit amet consec
                            tetur adipisicing elit. 
                            Accusamus aliquid expedita itaque
                             id sint soluta.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <img class="image" src="https://img.freepik.com/free-vector/vector-fast-food-set-realistic-hamburger-classic-burger-potatoes-french-fries-red-package-box-blank-cardboard-cup-soft-drinks-with-straw-isolated-colorful-blur-background_1284-47912.jpg?size=338&ext=jpg&uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                    <div class="content">
                        <img src="https://cdn-icons-png.flaticon.com/128/1255/1255229.png?uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                        <h3>tasty burger</h3>
                        <p>Lorem ipsum dolor sit amet consec
                            tetur adipisicing elit. 
                            Accusamus aliquid expedita itaque
                             id sint soluta.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <img class="image" src="https://img.freepik.com/free-vector/vector-fast-food-set-realistic-hamburger-classic-burger-potatoes-french-fries-red-package-box-blank-cardboard-cup-soft-drinks-with-straw-isolated-colorful-blur-background_1284-47912.jpg?size=338&ext=jpg&uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                    <div class="content">
                        <img src="https://cdn-icons-png.flaticon.com/128/1255/1255229.png?uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                        <h3>tasty burger</h3>
                        <p>Lorem ipsum dolor sit amet consec
                            tetur adipisicing elit. 
                            Accusamus aliquid expedita itaque
                             id sint soluta.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <img class="image" src="https://img.freepik.com/free-vector/vector-fast-food-set-realistic-hamburger-classic-burger-potatoes-french-fries-red-package-box-blank-cardboard-cup-soft-drinks-with-straw-isolated-colorful-blur-background_1284-47912.jpg?size=338&ext=jpg&uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                    <div class="content">
                        <img src="https://cdn-icons-png.flaticon.com/128/1255/1255229.png?uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                        <h3>tasty burger</h3>
                        <p>Lorem ipsum dolor sit amet consec
                            tetur adipisicing elit. 
                            Accusamus aliquid expedita itaque
                             id sint soluta.
                        </p>
                    </div>
                </div> 
                <div class="box">
                    <img class="image" src="https://img.freepik.com/free-vector/vector-fast-food-set-realistic-hamburger-classic-burger-potatoes-french-fries-red-package-box-blank-cardboard-cup-soft-drinks-with-straw-isolated-colorful-blur-background_1284-47912.jpg?size=338&ext=jpg&uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                    <div class="content">
                        <img src="https://cdn-icons-png.flaticon.com/128/1255/1255229.png?uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                        <h3>tasty burger</h3>
                        <p>Lorem ipsum dolor sit amet consec
                            tetur adipisicing elit. 
                            Accusamus aliquid expedita itaque
                             id sint soluta.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <img class="image" src="https://img.freepik.com/free-vector/vector-fast-food-set-realistic-hamburger-classic-burger-potatoes-french-fries-red-package-box-blank-cardboard-cup-soft-drinks-with-straw-isolated-colorful-blur-background_1284-47912.jpg?size=338&ext=jpg&uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                    <div class="content">
                        <img src="https://cdn-icons-png.flaticon.com/128/1255/1255229.png?uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                        <h3>tasty burger</h3>
                        <p>Lorem ipsum dolor sit amet consec
                            tetur adipisicing elit. 
                            Accusamus aliquid expedita itaque
                             id sint soluta.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <img class="image" src="https://img.freepik.com/free-vector/vector-fast-food-set-realistic-hamburger-classic-burger-potatoes-french-fries-red-package-box-blank-cardboard-cup-soft-drinks-with-straw-isolated-colorful-blur-background_1284-47912.jpg?size=338&ext=jpg&uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                    <div class="content">
                        <img src="https://cdn-icons-png.flaticon.com/128/1255/1255229.png?uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                        <h3>tasty burger</h3>
                        <p>Lorem ipsum dolor sit amet consec
                            tetur adipisicing elit. 
                            Accusamus aliquid expedita itaque
                             id sint soluta.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <img class="image" src="https://img.freepik.com/free-vector/vector-fast-food-set-realistic-hamburger-classic-burger-potatoes-french-fries-red-package-box-blank-cardboard-cup-soft-drinks-with-straw-isolated-colorful-blur-background_1284-47912.jpg?size=338&ext=jpg&uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                    <div class="content">
                        <img src="https://cdn-icons-png.flaticon.com/128/1255/1255229.png?uid=R76001300&ga=GA1.2.1365820826.1659169268" alt="">
                        <h3>tasty burger</h3>
                        <p>Lorem ipsum dolor sit amet consec
                            tetur adipisicing elit. 
                            Accusamus aliquid expedita itaque
                             id sint soluta.
                        </p>
                    </div>
                </div>
            </div>
            </section>
            
            <section class="popular container" id="popular">
                <h1 id="favorites" class="heading">most <span>popular </span> foods </h1>
                <div class="box-container">
                    <div class="box">
                        <span class="price"> N500 - N2000</span>
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <h3>Grilled Chicken</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-warning"> Order Now</a>
                    </div>
                    <div class="box">
                        <span class="price"> N500 - N2000</span>
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <h3>Jollof Rice</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-warning"> Order Now</a>
                    </div>
                    <div class="box">
                        <span class="price"> N500 - N2000</span>
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <h3>Ewa Agoyin</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-warning"> Order Now</a>
                    </div>
                    <div class="box">
                        <span class="price"> N500 - N2000</span>
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <h3>Afang Soup</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-warning"> Order Now</a>
                    </div>
                    <div class="box">
                        <span class="price"> N500 - N2000</span>
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <h3>Catfish Peppersoup</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-warning"> Order Now</a>
                    </div>
                    <div class="box">
                        <span class="price"> N500 - N2000</span>
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <h3>Nkwobi</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-warning"> Order Now</a>
                    </div>
                    <div class="box">
                        <span class="price"> N500 - N2000</span>
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <h3>Peppered Turkey</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-warning"> Order Now</a>
                    </div>
                    <div class="box">
                        <span class="price"> N500 - N2000</span>
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <h3>Giz Dodo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-warning"> Order Now</a>
                    </div>
                    <div class="box">
                        <span class="price"> N500 - N2000</span>
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <h3>Ice Cream</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#" class="btn btn-warning"> Order Now</a>
                    </div>
                </div>
            </section>
            
            <section class="gallery container">
                <h1 id="restuarants" class="heading">Restuarants</h1>
                <div class="box-container">
                    <div class="box">
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <div class="content">
                            <h3>Efty's Delight</h3>
                            <p>
                                Lorem ipsum dolor sit amet 
                                consectetur adipisicing elit. 
                                Voluptatem, animi!
                            </p>
                            <a href="#" class="btn btn-warning">Shop Now!!</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <div class="content">
                            <h3>Chicken Republic</h3>
                            <p>
                                Lorem ipsum dolor sit amet 
                                consectetur adipisicing elit. 
                                Voluptatem, animi!
                            </p>
                            <a href="#" class="btn btn-warning">Shop Now!!</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <div class="content">
                            <h3>Dominos</h3>
                            <p>
                                Lorem ipsum dolor sit amet 
                                consectetur adipisicing elit. 
                                Voluptatem, animi!
                            </p>
                            <a href="#" class="btn btn-warning">Shop Now!!</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <div class="content">
                            <h3>Calabar kitchen</h3>
                            <p>
                                Lorem ipsum dolor sit amet 
                                consectetur adipisicing elit. 
                                Voluptatem, animi!
                            </p>
                            <a href="#" class="btn btn-warning">Shop Now!!</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <div class="content">
                            <h3>Favours Divine</h3>
                            <p>
                                Lorem ipsum dolor sit amet 
                                consectetur adipisicing elit. 
                                Voluptatem, animi!
                            </p>
                            <a href="#" class="btn btn-warning">Shop Now!!</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="https://images.pexels.com/photos/106343/pexels-photo-106343.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <div class="content">
                            <h3>2009 Grills</h3>
                            <p>
                                Lorem ipsum dolor sit amet 
                                consectetur adipisicing elit. 
                                Voluptatem, animi!
                            </p>
                            <a href="#" class="btn btn-warning">Shop Now!!</a>
                        </div>
                    </div>
                </div>
            </section>
        
    </div>
   </div>

<%- include("partials/normalfooter") %>
