<div class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    
    <div class="offcanvas-body p-G">
        <nav class="navbar-dark">
            <ul class="navbar-nav">
            
                <li>
                    <a href="#" class="nav-link px-3 active">
                        <span class="me-2"> 
                            <i class="bi bi-speedometer2"></i>
                        </span>
                        <span>Dashboard</span>
                    </a>
                    <li class="ny-4">
                        <hr class="dropdown divider">
                    </li> 
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3">
                            interface
                        </div>
                    </li>
                    <li>
                         <a class="nav-link px-3 sidebar-link"
                         data-bs-toggle="collapse"
                         href="#collapseExample"
                         role="button"
                         aria-expanded="false"
                         aria-controls="collapseExaple">
                         <span class="me-2">
                            <i class="bi bi-layout-text-window-reverse"></i>
                         </span>
                         <span>Overview</span>
                         <span class="right-icon ms-auto">
                             <i class="bi bi-chevron-down"></i>
                         </span>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body bg-dark ">
                                <ul class="navbar-nav ps-3">
                                    <a href="#" class="nav-link ">
                                        <li>Profile</li>
                                    </a>
                                    <a href="#" class="nav-link">
                                        <li>Track Orders</li>
                                        
                                    </a>
                                    <a href="#" class="nav-link">
                                        <li>All Orders</li>
                                        
                                    </a>
                                    
                                    
                                </ul>
    
                            </div>
                        </div>
                    </li>
                    <li>
                        <li class="nav-link px-3 sidebar-link"
                        role="button"
                        aria-expanded="false"
                        href="#">
                        <span class="me-2">
                           <i class="bi bi-gear"></i>
                        </span>
                        <span>Restuarants</span>
                    </li>
                    <li>
                        <li class="nav-link px-3 sidebar-link"
                        role="button"
                        aria-expanded="false"
                        href="#">
                        <span class="me-2">
                           <i class="bi bi-gear"></i>
                        </span>
                        <span>Favourites</span>
                    </li>
                    <li>
                        <li class="nav-link px-3 sidebar-link"
                        role="button"
                        aria-expanded="false"
                        href="#">
                        <span class="me-2">
                           <i class="bi bi-gear"></i>
                        </span>
                        <span>Wallet</span>
                    </li>
                    <li>
                        <li class="nav-link px-3 sidebar-link"
                        role="button"
                        aria-expanded="false"
                        href="#">
                        <span class="me-2">
                           <i class="bi bi-gear"></i>
                        </span>
                        <span>Billing History</span>
                    </li>
                    <li>
                        <li class="nav-link px-3 sidebar-link"
                        role="button"
                        aria-expanded="false"
                        href="#">
                        <span class="me-2">
                           <i class="bi bi-gear"></i>
                        </span>
                        <span>Cart</span>
                    </li>
                    <li>
                        <li class="nav-link px-3 sidebar-link"
                        role="button"
                        aria-expanded="false"
                        href="#">
                        <span class="me-2">
                           <i class="bi bi-gear"></i>
                        </span>
                        <span>Diet Plan and Recommendations (coming soon!)</span>
                    </li>
                    <li>
                        <li class="nav-link px-3 sidebar-link"
                        role="button"
                        aria-expanded="false"
                        href="#">
                        <span class="me-2">
                           <i class="bi bi-gear"></i>
                        </span>
                        <span>Reciepie Guide (coming soon!)</span>
                    </li>
                    <li>
                        <li class="nav-link px-3 sidebar-link"
                        role="button"
                        aria-expanded="false"
                        href="#">
                        <span class="me-2">
                           <i class="bi bi-gear"></i>
                        </span>
                        <span>Settings</span>
                    </li>
        </div>
        
      </div>
    
  </div>